.chat {
  position: fixed;
  right: 0vh;
  flex: 1 1;
  width: 500px;
}

.chat_top > h4 {
  margin-top: 0;
}

.chat_top {
  padding-left: 80px;
  color: #656768;
  display: flex;
  justify-content: space-around;
}

.iconChat {
  padding-left: 15px;
}

.iconsChat {
  margin-right: -50px;
}

.chat_friends {
  padding-left: 140px;
  font-weight: 600;
  width: 100%;
}

.chat_friend {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 3mm;
}
.chat_friend:hover {
  background-color: #d4d5d6;
  cursor: pointer;
}
.chat_friend_name {
  margin-left: 10px;
}
