.separador {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 10px 16px;
  text-align: center;
}

.messageSender {
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.75);
}

.messageSender_bottom {
  display: flex;
  justify-content: space-between;
}

.messageSender_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  color: gray !important;
  height: 35px;
  margin: 10px;
}

.messageSender_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.messageSender_icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yW/r/7uW17FeunCA.png");
  background-size: 26px 334px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
  padding-right: 10px;
}
.messageSender_photo {
  background-position: 0 -130px;
}

.messageSender_friend {
  background-position: 0 -104px;
}

.messageSender_activity {
  background-position: 0 -78px;
}
