.Logo {
  height: 40px;
}

.header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
  display: flex;
  justify-content: space-evenly;
}

.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header_middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  color: gray !important;
}

.header_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header_info {
  display: flex;
  align-items: center;
}

.header_right_info {
  background-color: #e4e6eb;
  border-radius: 999px;
  padding: 10px;
  margin-right: 12px;
}

.header_right_info:hover {
  cursor: pointer;
  background-color: #d0d2d8;
}

.header_option > a {
  text-decoration: none;
  color: gray;
}

.header_avatar {
  cursor: pointer;
}

.header_menu {
  margin-top: 40px;
  margin-left: 10px;
}
