.sidebarRow {
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  width: 300px;
}

.sidebar_title {
  font-weight: 600;
  padding-left: 10px;
  font-size: 15px;
}

.sidebar_icon {
  background-color: #e4e6eb;
  border-radius: 50%;
  padding: 5px;
}

.sidebar {
  flex: 1;
}

.sidebarRow:hover {
  background-color: #e4e6eb;
}
