.logo_login {
  height: 150px;
  margin-left: -30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separador {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.login_left {
  padding-right: 46px;

  flex: 0.35;
}

.login_left > p {
  margin-top: -10px;
  font-size: 30px;
}

.login_right {
  flex: 0.25;
}

.login_form {
  display: flex;
  flex-direction: column;
}
.login_input {
  display: inline-block;
  margin-bottom: 15px;
  width: 302px;
  font-size: 17px;
  width: 364px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  outline-style: none;
}

.login_button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 366px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.register_button {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: white;
  font-weight: bold;
  background-color: #42b72a;
  cursor: pointer;
}

.cardContent {
  text-align: center;
}

.resetPassword {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}
