.logo_login {
  height: 150px;
  margin-left: -30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separador {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.login_left {
  padding-right: 46px;

  flex: 0.35;
}

.login_left > p {
  margin-top: -10px;
  font-size: 30px;
}

.login_right {
  flex: 0.25;
}

.login_form {
  display: flex;
  flex-direction: column;
}
.login_input {
  display: inline-block;
  margin-bottom: 15px;
  width: 302px;
  font-size: 17px;
  width: 364px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  outline-style: none;
}

.login_button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 366px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.register_button {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: white;
  font-weight: bold;
  background-color: #42b72a;
  cursor: pointer;
}

.cardContent {
  text-align: center;
}

.resetPassword {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}

.Card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1) !important;
}

.register_input {
  font-size: 15px;
  line-height: 16px;
  outline: none !important;
  border-color: #ccd0d5;
  width: 375px;
  border-radius: 5px;
  margin: 0;
  padding: 11px;
  background: #f5f6f7;
  border: 1px solid #ccd0d5;
  margin: 5px;
}
.register_name {
  display: flex;
  justify-content: space-between;
}

.name_reg {
  width: 170px;
}

.register_politics {
  color: #777;
  font-size: 11px;
}

.button_modal {
  background: none;
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 36px;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
  text-shadow: none;
}

.button_class {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
